# Название проекта (используется в docker-compose -p)
COMPOSE_PROJECT_NAME=docker-mysql

# Версии
MYSQL_VERSION=8.0.21
ADMINER_VERSION=latest

# Имена контейнеров
MYSQL_CONTAINER=mysql
ADMINER_CONTAINER=adminer

# Порты хоста
MYSQL_PORT=3306
# Доп. порт X Protocol (удобен некоторым клиентам, можно оставить)
MYSQL_XPORT=33060
ADMINER_PORT=8081

# Данные и конфиги
MYSQL_DATA_DIR=./data/mysql
MYSQL_CONF_FILE=./conf/my.cnf
INITDB_DIR=./initdb

# Сеть (по умолчанию своя; при желании можно подключиться к внешней)
#EXTERNAL_NETWORK=external

# Начальные креды/БД (будут применены при первом создании тома)
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=demo
MYSQL_USER=root
MYSQL_PASSWORD=root
