[mysqld]
# Единый и современный UTF-8
character-set-server = utf8mb4
collation-server     = utf8mb4_0900_ai_ci

# Строгий SQL-режим, как на проде (обычно MySQL 8 и так строгий,
# но фиксируем явно, чтобы задания вели себя предсказуемо):
sql_mode = STRICT_ALL_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

# Выравниваем таймзону
default_time_zone = '+03:00'

# Качество жизни
skip-name-resolve = 1
max_connections   = 200
